<html>
  <head>
    <meta charset="utf-8">
    <title>Profile page</title>
  </head>

  <body>
    <div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <img src="images/jad.png" alt="">
          <h1> Hello  <%= current_user.email%> ! </h1>
        </div>
<!-- Tab links -->
        <div class="tabs">
          <button class="tablinks" onclick="openCity(event, 'booking-places')">My Bookings</button>
          <button class="tablinks" onclick="openCity(event, 'places-places')">My Places</button>
          <button class="tablinks" onclick="openCity(event, 'profile')">Profile</button>
        </div>
      </div>
    </div>

<!-- Tab content -->
    <div class="container" >
      <div id="booking-places" class="tabcontent">
        <h3>My bookings </h3>
        <ul class="place_list">
          <% @bookings.each do |booking| %>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <li class="place ">
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

                  <div class="card-category">booking.place.owner</div>
                  <div class="card-description">
                    <h2><%= booking.place.title %></h2>
                    <p><span style="font-weight:bold"><%= booking.start_date %></span> to <span style="font-weight:bold"><%= booking.end_date %></span></p>
                  </div>
                  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                </div>
                <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
              </li>
              <br>
              <br>
            </div>
          </div>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container" >
      <div id="places-places" class="tabcontent">
        <h3>My places </h3>
        <ul class="place_list">
          <% @places.each do |place| %>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
            <li class="place ">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2><%= place.title %></h2>
                  <p><%= place.price %>€ - Pack <span style="font-weight:bold"><%= place.destroy_pack %></span></p>
                </div>
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="<%= place_path(place) %>" ></a>
              </div>
              <%= link_to "Delete", place_path(place),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            </li>
            <br>
            <br>
            </div>
          </div>
          <% end %>
          </ul>
      </div>
    </div>

    <div class="container">
      <div id="profile" class="tabcontent">
        <h3>My Profile</h3>
        <ul class="place_list">
            <p><%= current_user.email%></p>

            <p><%= link_to "/users/edit" do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Edit Profile") %>
                <% end %></p>

            <p><%= link_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </ul>
      </div>
    </div>

  </body>
</html>

