<%= simple_form_for (@place)  do |t| %>

  <div class="form_section">
    <h3>General information</h2>
    <%= t.input :title %>
    <%= t.input :address, :input_html => { :placeholder => "ex: 5 rue du petit champs Paris" } %>
    <%= t.input :sleepings, :input_html => { :placeholder => "5" } %>
    <%= t.input :description, :input_html => { :placeholder => "Un lieu superbe, pour des soirées déjantées" }  %>
    <%= t.input :photo, label_html: { class: "btn-basic btn-purple btn-hover" }, input_html: { class: "hidden"} %>
    <%= t.input :photo_cache, as: :hidden %>
  </div>
  <div class="form_section">
  <h3>More about your place</h2>
    <%= t.input :equipment %>

   <div class="multiple-check">

         <fieldset class="form-group check_boxes optional place_tools">

           <label class="form-control-label integer optional">Destroying tools your propose</label>

           <div class="flex">
             <label for="place_tools_ball">
               <input name="place[tools][]" value="" type="hidden">
               <div class="form-check">
                 <input value="ball" name="place[tools][]" id="place_tools_ball" type="checkbox">
                 <div class="mass box">
                  <i class="fi fas fa-basketball-ball"></i></br>
                  <span for="place_tools_ball">Ball</span>
                   <p class="pack_descr">Throw basket ball everywhere and see what happen</p>
                 </div>
               </div>
             </label>

              <label for="place_tools_animal">
                <input name="place[tools][]" value="" type="hidden">
                <div class="form-check">
                  <input value="animal" name="place[tools][]" id="place_tools_animal" type="checkbox">
                  <div class="mass box">
                    <i class="fi fab fa-sticker-mule"></i></br>
                   <span for="place_tools_animal">Animal</span>
                    <p class="pack_descr">Mule, pig, cow... because animals can party to</p>
                  </div>
                </div>
              </label>

              <label for="place_tools_flame">
                <input name="place[tools][]" value="" type="hidden">
                <div class="form-check">
                  <input value="flame" name="place[tools][]" id="place_tools_flame" type="checkbox">
                  <div class="mass box">
                   <i class="fi fas fa-fire"></i></i></br>
                   <span for="place_tools_flame">Flame</span>
                    <p class="pack_descr">A bit risky but firefighters will join the party :D !</p>
                  </div>
                </div>
              </label>

           </div>

         </fieldset>

       </div>


  </div>

  <div class="form_section">

    <h3>Destroy options </h3>

    <p>Decide how far your guests can go while partying.</br> <span style="font-weight:bold;"> NB : AngerParty
      <span style="color:red;"> is not responsible</span> if it goes further than expected...</p></span>

    <div class="multiple-radio">

      <fieldset class="form-group radio_buttons optional place_destroy_pack">

        <div class="flex">

          <label for="place_destroy_pack_soil">
            <input name="place[destroy_pack]" value="" type="hidden">
            <div class="form-check">
              <input  value="soil" name="place[destroy_pack]" id="place_destroy_pack_soil" type="radio">
              <div class="soil box">
                <span for="place_destroy_pack_soil">Soil</span>
                <p class="pack_descr">You can soil, but with respect (vomit tolerated)</p>
              </div>
            </div>
          </label>

          <label for="place_destroy_pack_damage">
            <input name="place[destroy_pack]" value="" type="hidden">
            <div class="form-check">
              <input value="damage" name="place[destroy_pack]" id="place_destroy_pack_damage" type="radio">
              <div class="damage box">
                <span for="place_destroy_pack_damage">Damage</span>
                <p class="pack_descr">Get serious on breaking things</p>
              </div>
            </div>
          </label>

          <label for="place_destroy_pack_destroy">
            <input name="place[destroy_pack]" value="" type="hidden">
            <div class="form-check">
              <input value="destroy" name="place[destroy_pack]" id="place_destroy_pack_destroy" type="radio">
              <div class="destroy box">
                <span for="place_destroy_pack_destroy">Destroy</span>
                <p class="pack_descr">Unleash the dragon, the place has to return to hashes</p>
              </div>
            </div>
          </label>
        </div>

      </fieldset>

    </div>
    <%= t.input :price %>


  </div>

</br>

<%= t.submit html_options = {:class=>"btn-basic btn-green btn-hover"} %>

<% end %>
