<%= simple_form_for (@place)  do |t| %>

  <div class="form_section">
    <h3>General information</h2>
    <%= t.input :title %>
    <%= t.input :address, :input_html => { :value => "ex: 5 rue du petit champs Paris" } %>
    <%= t.input :sleepings, :input_html => { :value => "5" } %>
    <%= t.input :description, :input_html => { :value => "Un lieu superbe, pour des soirées déjantées" }  %>

    <%= t.input :photo, label_html: { class: "btn-basic btn-purple btn-hover" }, input_html: { class: "hidden" } %>
    <%= t.input :photo_cache, as: :hidden %>



  </div>
  <div class="form_section">
  <h3>More about your place</h2>
    <%= t.input :equipment %>
    <%= t.input :tools, as: :check_boxes, collection: [['0', 'Mass'], ['1', 'Flame thrower'], ['2', 'Hammer']], label_method: :second, value_method: :first %>

  </div>
  <div class="form_section">
    <h3>Destroy options </h2>
    <%= t.input :price %>
    <%= t.input :destroy_pack, as: :radio_buttons, collection: [['Soil'], ['Damage'], ['Destroy']], label_method: :second, value_method: :first %>
  </div>

</br>

<%= t.submit html_options = {:class=>"btn-basic btn-purple btn-hover"} %>

<% end %>
