<div class="fluid-container">

   <div class="content">

    <div class="cards-container">

      <div class="list-intro">
        <div id="title">
          <h1>Our places to destroy</h1>
          <div id="your-search">
          <% if params[:query].present?%>
            <p>Your search : <span style="font-weight: bold">"<%=@query%>" </span></p>
            <%= link_to "Clean your search", places_path, html_options = {:class=>"btn-ghost"} %>
          <% end %>
          </div>
        </div>
        <% if policy(Place).create? %>
          <%= link_to "+ Add a new place", new_place_path, html_options = {:class=>"btn-basic btn-purple btn-hover", :id=>"add-btn"} %>
        <% end %>
      </div>

      <div class="row">

        <% @places.each do |place| %>

        <div class="col-xs-12 col-sm-6 col-lg-4">

          <div class="card" style="background-image: url('<%= cl_image_path place.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category">Villa</div>
            <div class="card-description">
              <h2><%= place.title %></h2>
              <p><%= place.price %>€ - Pack <span style="font-weight:bold"><%= place.destroy_pack %></span></p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="<%= place_path(place) %>" ></a>
          </div>

        </div>

      <% end %>

      </div>

    </div>

    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>

  </div>

</div>


