 <div class="content">

  <div class="cards-container">
    <div class="list-intro">
      <h1>Our places to destroy</h1>
      <% if policy(Place).create? %>
        <%= link_to "+ Add a new place", new_place_path, html_options = {:class=>"btn-blue"} %>
      <% end %>
    </div>

    <div class="row">

      <% @places.each do |place| %>

      <div class="col-xs-12 col-sm-6 col-lg-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');")">
          <div class="card-category"><%= place.category %></div>
          <div class="card-description">
            <h2><%= place.title %></h2>
            <p><%= place.price %>€ - Pack <span style="font-weight:bold"><%= place.destroy_pack %></span></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="<%= place_path(place) %>" ></a>
        </div>

      </div>

    <% end %>

    </div>

  </div>

  <div id="map">
  </div>

</div>

    <!-- Gmaps js: building the map -->
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
    </script>
